<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.tarena.dao.ServiceDao">

	<!-- 查询某一页数据 -->
	<select id="findByPage" parameterType="com.tarena.entity.page.ServicePage" 
			resultType="java.util.HashMap" >
		SELECT * FROM (
		SELECT s.*,ROWNUM r FROM (
			SELECT s.* , a.idcard_no , a.real_name , c.name AS cost_name ,c.descr
			FROM service s INNER JOIN account a ON a.account_id = s.account_id
			INNER JOIN cost c ON c.cost_id = s.cost_id
			<where>
				<if test="os_username!=null &amp;&amp; os_username.lenght()>0">
					AND s.os_username=#{os_username,jdbcType=VARCHAR}
				</if>
				<if test="unix_host!=null &amp;&amp; unix_host.lenght()>0">
					AND s.unix_host=#{unix_host,jdbcType=VARCHAR}
				</if>
				<if test="idcard_no!=null &amp;&amp; idcard_no.lenght()>0">
					AND a.idcard_no=#{idcard_no,jdbcType=VARCHAR}
				</if>
				<if test="status!=null &amp;&amp; status.lenght()>0  &amp;&amp; !status.equals('-1')">
					AND s.status=#{status,jdbcType=VARCHAR}
				</if>
			</where>
			ORDER BY s.service_id
		) s
	) WHERE r&lt;#{end} AND r>#{begin}			
	</select>

</mapper>